body {
  background: lightgreen;
}

#titulo {
  background: lightblue;
}

#general {
  background: yellow;
}

#contenido {
  background: purple;
}

#m1 {
  background: lightgreen;
}

#m2 {
  background: red;
}

#m3 {
  background: darkgreen;
}

#m4 {
  background: cyan;
}

.chulo {
  border: 2px solid black;
  border-radius: 12px;
}

* {
  padding: 2%;
}
